@model List<SharedMessages.MyMessage>


<div class="jumbotron">
    <form action="/home/sendMessage" method="post" >
        <input type="text" name="text" id="text"/>
        <input type="submit" value="Send..."/>
    </form>
</div>

<div class="row">

    <ul>
        @foreach( var msg in Model )
            {
            <li>@msg.Message</li>
        }
    </ul>

</div>
