<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jason" version="0.4.0.1-Beta" targetFramework="net452" />
  <package id="Jason.Tools" version="0.4.0.1-Beta" targetFramework="net452" />
  <package id="Radical" version="1.5.0.0-alfa" targetFramework="net452" />
  <package id="RavenDB.Client" version="3.0.3507-Unstable" targetFramework="net452" />
</packages>