<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.10" targetFramework="net45" />
  <package id="AngularJS.Animate" version="1.3.0-beta3" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.3.0-beta3" targetFramework="net45" />
  <package id="AngularJS.Route" version="1.3.0-beta3" targetFramework="net45" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="bootstrap" version="3.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Castle.Windsor.Lifestyles" version="0.3.0" targetFramework="net45" />
  <package id="FontAwesome" version="4.0.3.1" targetFramework="net45" />
  <package id="Jason" version="0.4.0.0-RC" targetFramework="net45" />
  <package id="Jason.Client.AngularJS" version="0.0.7" targetFramework="net45" />
  <package id="Jason.Tools" version="0.4.0.0-RC" targetFramework="net45" />
  <package id="Jason.WebAPI" version="0.4.1.1-RC" targetFramework="net45" />
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0-beta1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0-beta1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.0-beta1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.7.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net45" />
  <package id="NServiceBus" version="4.6.1" targetFramework="net45" />
  <package id="NServiceBus.CastleWindsor" version="4.6.1" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Radical" version="1.4.3.0-Alfa" targetFramework="net45" />
  <package id="Radical.Bootstrapper" version="0.0.3.1" targetFramework="net45" />
  <package id="Radical.Bootstrapper.Windsor" version="0.0.3.1" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2874" targetFramework="net45" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>